fint:
  adapter:
    username: ${fint.core.oauth2.username}
    password: ${fint.core.oauth2.password}

spring:
  security:
    oauth2:
      client:
        provider:
          fint-idp:
            token-uri: https://idp.felleskomponent.no/nidp/oauth/nam/token?resourceServer=fint-api
        registration:
          fint:
            authorization-grant-type: password
            client-id: ${fint.core.oauth2.client-id}
            client-secret: ${fint.core.oauth2.client-secret}
            provider: fint-idp
            scope: fint-adapter
